<% if @families.empty? %>
  <h1>You have no families for the moment!</h1>
  <br>
  <%= link_to "Create a new family!", "#", "data-toggle"=>"modal",  "data-target"=>"#CreateFamily", class:"btn-booker" %>
<% else %>
  <div class="family-headers d-flex justify-content-between align-items-center">
    <h1>Your families</h1>
    <%= link_to "Add a new family", "#", "data-toggle"=>"modal",  "data-target"=>"#CreateFamily", class:"btn-booker" %>
  </div>
  <% @families.each do |family| %>
    <% @family = family %>
    <div class="card-product">
      <%= cl_image_tag family.picture.key, class:"card-img" %>
      <div class="card-product-infos">
        <h1><em><%= family.name %></em></h1>
        <br>
        <br>
        <div class="members-avatars d-inline-block mb-3">
        <% family.users.includes(avatar_attachment: :blob).each do |member| %>
        <%= cl_image_tag member.avatar.key, class: "avatar" %>
        <a data-confirm="Are you sure?" class="text-danger mr-2" rel="nofollow" data-method="delete" href="/adhesions/<%= "#{family.id}_#{member.id}" %>">-   </a>
        <% end %>
        <%= link_to "<i class=\"fas fa-user-plus\"></i>".html_safe, "#", "data-toggle"=>"modal",  "data-target"=>"#AddMember#{family.id}", class:"m-2 text-success" %>
        </div>
      </div>
      <div class="horrible">
        <%= link_to "<i class=\"far fa-edit\"></i>".html_safe, "#", "data-toggle"=>"modal",  "data-target"=>"#EditFamily#{family.id}", class:"m-2 text-warning" %>
        <%= link_to "<i class=\"far fa-trash-alt\"></i>".html_safe, family_path(family), method: :delete, data: { confirm: "Are you sure?" }, class: "m-2 text-danger" %>
      </div>
    </div>
  <% end %>
<% end %>

<%= render 'shared/family' %>


