<h1><%= @family.name %></h1>
<% @family.users.each do |user| %>
  <p><%= user.username %></p>
<% end %>
<%= link_to "Add a member", "#", "data-toggle"=>"modal",  "data-target"=>"#AddModal" %>


<!-- add_family modal -->

<div class="modal fade" id="AddModal" tabindex="-1" role="dialog" aria-labelledby="EditModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="EditModalLongTitle">Edit this Book!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= simple_form_for [@family, @adhesion] do |f| %>
          <%= f.association :user, input_html: { class: 'select2' } %>
          <%= f.button :submit, class: "btn-booker" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
