<h1><%= @family.name %></h1>
<h3>The current members of this family are:</h3>
<% @family.users.each do |user| %>
  <p><%= user.full_name %></p>
  <% tag = 'defaultavatar' %>
  <% tag = user.avatar.key if user.avatar.attached? == true %>
  <%= cl_image_tag tag, class: "avatar" %>
<% end %>
<br><br>
<h4>Add a new member to the family:</h4>
<%= simple_form_for [@family, @adhesion] do |f| %>
  <%= f.association :user, label_method: :full_name, value_method: :id, input_html: { class: 'select2' } %>
  <%= f.button :submit, class: "btn-booker" %>
<% end %>
