<h1><%= @family.name %></h1>
<h3>The current members of this family are:</h3>
<% @family.users.each do |user| %>
  <div class="notification">
    <% tag = 'defaultavatar' %>
    <% tag = user.avatar.key if user.avatar.attached? == true %>
    <%= cl_image_tag tag, class: "avatar-large" %>
    <div class="notification-content">
      <p><small><%= user.full_name %></small></p>
      <p>Added <strong><%= user.books.count %> books</strong> to the community</p>
    </div>

    <div class="notification-actions">
      <a href="#">Edit <i class="fas fa-pencil-alt"></i></a>
      <a href="#">Delete <i class="far fa-trash-alt"></i></a>
    </div>
  </div>
<% end %>
<br><br>
<h4>Add a new member to the family:</h4>
<%= simple_form_for [@family, @adhesion] do |f| %>
  <%= f.association :user, label_method: :full_name, value_method: :id, input_html: { class: 'select2 form-control' } %>
  <%= f.button :submit, class: "btn-booker" %>
<% end %>

