<% if @user == current_user %>
  <h1>My Dashboard</h1>
<% else %>
  <h1><%= @user.full_name %></h1>
<% end %>
<div class="row">
  <div class="col-12 col-md-6">
    <div class="dashboard-card">
      <h2>Shelve</h2>
      <div class="cards p-1">
        <% @books.each do |book| %>

          <%= link_to book_path(book) do %>
            <div class="card-category small text-center dashboard"  style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)), url(<%= cl_image_path book.cover.key %>)">
              <div class="content p-2 py-4 d-flex justify-content-between flex-column h-80">
                <h5 class="book-info"><%= book.title %></h5>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-6">
    <div class="dashboard-card">
      <div class="d-flex justify-content-between align-items-center">
        <h2>Wishlist</h2>
        <%= link_to new_book_path, class: "btn-booker" do %>
          <i class="fas fa-plus"></i>
        <% end %>
      </div>
      <div class="cards p-1">
        <% @wishlist.each do |book| %>

          <%= link_to book_path(book) do %>
            <div class="card-category small text-center"  style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)), url(<%= cl_image_path book.cover.key %>)">
              <div class="content p-2 py-4 d-flex justify-content-between flex-column h-80">
                <h5 class="book-info"><%= book.title %></h5>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div class="dashboard-card">
  <% if @families.empty? %>
    <h2>You have no families for the moment!</h2>
    <br>
    <%= link_to "Create a new family!", "#", "data-toggle"=>"modal",  "data-target"=>"#CreateFamily", class:"btn-booker" %>
  <% else %>
    <div class="family-headers d-flex justify-content-between align-items-center">
      <h2>Families</h2>
      <%= link_to "#", "data-toggle"=>"modal",  "data-target"=>"#CreateFamily", class:"btn-booker" do %>
        <i class="fas fa-plus"></i>
      <% end %>
    </div>
    <% @families.each do |family| %>
      <% @family = family %>
      <div class="card-product">
        <%= cl_image_tag family.picture.key, class:"card-img" %>
        <div class="card-product-infos">
          <h1><em><%= family.name %></em></h1>
          <br>
          <br>
          <div class="members-avatars d-inline-block mb-3">
          <% family.users.includes(avatar_attachment: :blob).each do |member| %>
          <%= cl_image_tag member.avatar.key, class: "avatar" %>
          <a data-confirm="Are you sure?" class="text-danger mr-2" rel="nofollow" data-method="delete" href="/adhesions/<%= "#{family.id}_#{member.id}" %>">-   </a>
          <% end %>
          <%= link_to "<i class=\"fas fa-user-plus\"></i>".html_safe, "#", "data-toggle"=>"modal",  "data-target"=>"#AddMember#{family.id}", class:"m-2 text-success" %>
          </div>
        </div>
        <div class="horrible">
          <%= link_to "<i class=\"far fa-edit\"></i>".html_safe, "#", "data-toggle"=>"modal",  "data-target"=>"#EditFamily#{family.id}", class:"m-2 text-warning" %>
          <%= link_to "<i class=\"far fa-trash-alt\"></i>".html_safe, family_path(family), method: :delete, data: { confirm: "Are you sure?" }, class: "m-2 text-danger" %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
<div class="dashboard-card">
  <h2>My reservations</h2>
</div>










<%= render 'shared/family' %>

