<% books.each do |book| %>
  <%= link_to book_path(book) do %>
    <div class="card-category text-center"  style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)), url(<%= cl_image_path book.cover.key %>)">
      <div class="content py-4 d-flex justify-content-between flex-column">
        <h3 class="book-info"><%= book.title %></h3>
        <h5 class="book-info">by <%= book.author %></h5>
        <h5 class="book-info"><%= book.category.name %></h5>
      </div>
    </div>
  <% end %>
<% end %>
