<div class="row">
  <div class="col-12 col-md-6">
    <h1 class="text-center">My reservations</h1>

    <% @my_reservations.each do |reservation| %>
      <div class="card-product">
        <img src="<%= cl_image_path reservation.book_ownership.book.cover.key %>" alt="" class="shadow rounded book-img">
        <div class="card-product-infos">
          <h3><strong><%= reservation.book_ownership.book.title %></strong></h3>
          <p>Booked from <strong> <%= reservation.book_ownership.user.full_name %></strong></p>
          <p>Requested from
              <strong><%= reservation.start_date.strftime('%d/%m/%Y') %></strong>
              until:
              <strong><%= reservation.end_date.strftime('%d/%m/%Y') %></strong></p>
          <% if reservation.confirmed? %>
            <p style= "color: green">Booking confirmed!</p>
          <% else %>
            <p style= "color: red">Waiting for confirmation from the owner</p>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
  <div class="col-12 col-md-6">
    <h1 class="text-center">Demands for my books</h1>
    <% @book_reserved.each do |reservation| %>
      <div class="card-product">
        <img src="<%= cl_image_path reservation.book_ownership.book.cover.key %>" alt="" class="shadow rounded book-img">
        <div class="card-product-infos d-flex justify-content-between align-items-center flex-grow-1">
          <div class="info flex-grow-1 ">
            <h3><strong><%= reservation.book_ownership.book.title %></strong></h3>
            <p>Asked by <strong> <%= reservation.user.full_name %></strong></p>
            <p>Requested from
              <strong><%= reservation.start_date.strftime('%d/%m/%Y') %></strong>
              until:
              <strong><%= reservation.end_date.strftime('%d/%m/%Y') %></strong></p>
            <% if reservation.confirmed? %>
              <p style= "color: green">Booking confirmed!</p>
            <% end %>
          </div>
          <% if reservation.confirmed? %>
            <%= link_to reservation_path(reservation), method: :put do %>
              <i class="fas fa-times cancel pr-2"></i>
            <% end %>
          <% else %>
            <%= link_to reservation_path(reservation), method: :put do %>
              <i class="far fa-check-circle confirm pr-2"></i>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>





