<h1>My reservations</h1>

<% @my_reservations.each do |reservation| %>
  <div class="card-product">
    <img src="<%= cl_image_path reservation.book.cover.key %>" alt="" class="covers-show shadow rounded">
    <div class="card-product-infos">
      <h2><strong><%= reservation.book.title %></strong></h2>
      <p>Booked to <strong> <%= reservation.book.user.username %></strong></p>
      <% if reservation.confirmed? %>
        <p style= "color: green">Booking confirmed!</p>
      <% else %>
        <p style= "color: red">Waiting from confirmation from the owner</p>
      <% end %>
    </div>
  </div>
<% end %>

<h1>Demands for my books</h1>
<% @book_reserved.each do |reservation| %>
  <div class="card-product">
    <img src="<%= cl_image_path reservation.book.cover.key %>" alt="" class="covers-show shadow rounded">
    <div class="card-product-infos">
      <h2><strong><%= reservation.book.title %></strong></h2>
      <p>Asked by <strong> <%= reservation.user.username %></strong></p>
      <% if reservation.confirmed? %>
        <p style= "color: green">Booking confirmed!</p>
        <%= link_to "Cancel", reservation_path(reservation), method: :patch %>
      <% else %>
        <%= link_to "Confirm booking", reservation_path(reservation), method: :patch  %>

      <% end %>
    </div>
  </div>
<% end %>


